@model CDM.Database.Models.AppelDeFond

@{
    ViewData["Title"] = "Détails appel de fond";
}

<h1>Détails</h1>

<dl class="row">
    <dt class="col-sm-3">Trimestre</dt>
    <dd class="col-sm-9">@Model.Trimestre.Annee - T@Model.Trimestre.Numero</dd>

    <dt class="col-sm-3">Copropriétaire</dt>
    <dd class="col-sm-9">@Model.Coproprietaire.Nom</dd>

    <dt class="col-sm-3">Montant dû</dt>
    <dd class="col-sm-9">@Model.MontantDu €</dd>

    <dt class="col-sm-3">Montant réglé</dt>
    <dd class="col-sm-9">@Model.MontantRegle €</dd>

    <dt class="col-sm-3">Régularisation</dt>
    <dd class="col-sm-9">@Model.Regularisation €</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Modifier</a>
    <a asp-action="Index" class="btn btn-secondary">Retour</a>
</p>
